.WeatherForecast {
    position: relative;
    top: -90px;
    margin-left: 10px;
    margin-right: 10px;
   border-radius: 5px;
   background-color: white;
    font-family: 'Yantramanav', sans-serif;
 }

 .tijd {
   font-weight: bold;
  
}

.nummer {
   font-size: 15px;
}



